<div class="min-vh-100 d-flex flex-column align-items-center justify-content-center p-3 gap-3">
  <div class="text-center">
    <h1>Result</h1>
    <p class="lead">Your score:<%= @score %></p>
    <p><%= @message %></p>
    <%= link_to  root_path, class: "btn btn-primary btn-lg", data: { controller: "space-and-enter-to-click" } do %>
      Try again!
      <small class="d-block mt-1 opacity-75 d-none d-sm-block">
        (Space or Enter)
      </small>
    <% end %>
  </div>
  <div class="text-center">
    <p>Possible words:</p>
    <div class="d-flex flex-wrap justify-content-center gap-1 px-5">
      <% @words.each do |word| %>
        <div class="badge text-dark bg-light">
          <%= word.upcase %>
        </div>
      <% end %>
    </div>
  </div>
</div>
